doctype html
head
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900', rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css', rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css', rel='stylesheet')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
#app
  v-app
    // Création popup
    v-card.mx-auto(elevation='10', shaped='', max-width='344')
      v-list-item(three-line='')
        v-list-item-content
          .overline.mb-4
            | #{adresse}
          v-list-item-title.headline.mb-1
            | #{rs}
          v-list-item-subtitle Actuellement ouvert
        v-card-actions
          v-btn(color='blue lighten-2', text='', @click='envoie')
            | En savoir +
script(src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js')
script(src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js')
script.
  new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: () => ({
  }),
  methods: {
  envoie () {
  //Ouvrir fichier popup.html
  }
  }
  })
