doctype html
head
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
#app
  v-app#inspire
    // Création popup
    v-card.mx-auto(max-width='700')
      // Titre
      v-img.white--text.align-end(src='https://cdn.vuetifyjs.com/images/cards/cooking.png' gradient='to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)' height='200px')
        v-card-title #{rs}
      div
        p
          | #{adresse.adresse}
      // Début formulaire
      // Horaire
      v-card-subtitle
        v-row
          v-col
            .my-4.subtitle-1
              | Lundi :
          v-col
            v-card-text(color='lighten-2')
              | #{horaires.lundi[0][0]}
          v-col
            v-card-text(color='lighten-2')
              | 10:15
        v-row
          v-spacer
          if do_prel
            v-alert(dense='' text='' type='success')
              | PCR
          else
            v-alert(dense='' text='' type='error')
              .text-decoration-line-through
                | PCR
          v-spacer
          if do_antigenic
            v-alert(dense='' outlined='' type='success')
              | Antig&eacute;nique
          else
            v-alert(dense='' outlined='' type='error')
              .text-decoration-line-through
                | Antig&eacute;nique
          v-spacer
      v-expansion-panels(flat='')
        v-expansion-panel
          v-expansion-panel-header
            | Plus d&apos;informations
          v-expansion-panel-content
            | Y&apos;a rien
      // Fin Horaire
      // Button Formulaire Avis + Commentaire
      v-card-actions
        v-btn(color='orange lighten-2' text='' @click='show = !show')
          | Partager mon exp&eacute;rience
        v-spacer
        v-btn(color='green lighten-2' text='' @click='commentaire = !commentaire')
          | Commentaires
      // Fin Button Formulaire Avis + Commentaire
      // Extension Avis
      v-expand-transition
        div(v-show='show')
          v-divider
          v-card-text
            v-stepper(v-model='e1')
              v-stepper-header
                v-stepper-step(:complete='e1 > 1' step='1')
                  | Satisfaction
                v-divider
                v-stepper-step(:complete='e1 > 2' step='2')
                  | Temps d&apos;attente
                v-divider
                v-stepper-step(:complete='e1 > 3' step='3')
                  | Evaluation
              v-stepper-items
                v-stepper-content(step='1')
                  v-card
                    v-row
                      v-card-title Est-ce que le test s&apos;est bien d&eacute;roul&eacute; ?
                    v-card-subtitle
                      v-card-actions
                        v-row
                          v-spacer
                          v-btn.mx-2(fab='' dark='' small='' color='green' @click='e1 = 2')
                            | Oui
                          v-spacer
                          v-btn.mx-2(fab='' dark='' small='' color='red' @click='e1 = 2')
                            | Non
                          v-spacer
                    v-btn(@click='e1 = 2')
                      | Ne pas r&eacute;pondre
                v-stepper-content(step='2')
                  v-card
                    v-card-title
                      | Combien de minutes avez vous attendu ?
                    v-card-subtitle
                      v-col(cols='12')
                        v-slider(v-model='value' thumb-label='' ticks='')
                    v-btn(color='blue' @click='e1 = 3')
                      | Continuer
                    v-btn(@click='e1 = 3')
                      | Ne pas r&eacute;pondre
                v-stepper-content(step='3')
                  v-card
                    v-row
                      v-card-title
                        | Evaluez votre exp&eacute;rience
                      v-rating(v-model='rating' color='yellow darken-3' background-color='grey darken-1' empty-icon='$ratingFull' hover='' large='')
                    v-card-subtitle
                      v-textarea(label='Commentaire' auto-grow='' outlined='' rows='3' row-height='15' shaped='')
                    v-btn(color='blue' @click='e1 = 4')
                      | Continuer
                    v-btn(@click='e1 = 4')
                      | Ne pas r&eacute;pondre
                v-stepper-content(step='4')
                  v-card
                    v-card-title
                      | Merci pour vos r&eacute;ponses
                      v-icon(x-large='' color='orange darken-2')
                        | mdi-emoticon-excited
                    v-btn(@click='show = !show')
                      | Fermer
      // Fin Extension Avis
      // Extension Commentaire
      v-expand-transition
        div(v-show='commentaire')
          v-divider
          template
            v-responsive.overflow-y-auto(max-height='400')
              .pa-6.text-center
                | Scroll down
              v-responsive.text-center.pa-2(height='200vh')
                v-responsive(min-height='50vh')
                .text-center.body-2.mb-12
                  | The card will appear below:
                v-lazy(v-model='isActive' :options='{\
                threshold: .5\
                }' min-height='200' transition='fade-transition')
                  v-card.mx-auto(max-width='336')
                    v-card-title Card title
                    v-card-text
                      | Phasellus magna. Quisque rutrum. Nunc egestas, augue at pellentesque laoreet, felis eros
                      | vehicula leo, at malesuada velit leo quis pede. Aliquam lobortis. Quisque libero metus,
                      | condimentum nec, tempor a, commodo mollis, magna.
                      | In turpis. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In turpis.
                      | Pellentesque dapibus hendrerit tortor. Ut varius tincidunt libero.
      // Fin Extension Commentaire
script(src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js')
script(src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js')
script.
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            timeOuverture: '10:15',
            timeFermeture: '10:15',
            show: false,
            commentaire: false,
            e1: 1,
            rating: 3,
            isActive: false,
        }),
    })
