<!DOCTYPE html>
<html>

<head>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>


<body>

  <div id="app">
    <v-app id="inspire">
      <!-- Création popup -->
      <v-card class="mx-auto" max-width="700">

        <!-- Titre -->
        <v-img src="https://cdn.vuetifyjs.com/images/cards/cooking.png" class="white--text align-end"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="200px">
          <v-card-title>titre</v-card-title>
        </v-img>

        <div>
          <p>
            Adresse
          </p>
        </div>

        <!-- Début formulaire  -->
        <!-- Horaire -->
        <v-card-subtitle>
          <v-row>
            <v-col>
              <div class="my-4 subtitle-1">
                Lundi :
              </div>
            </v-col>
            <v-col>
              <v-card-text color="lighten-2">
                10:15
              </v-card-text>
            </v-col>
            <v-col>
              <v-card-text color="lighten-2">
                10:15
              </v-card-text>
            </v-col>
          </v-row>
          <v-row>
            <v-spacer></v-spacer>
            <v-alert dense text type="success">
              PCR
            </v-alert>
            <v-spacer></v-spacer>
            <v-alert dense outlined type="error">
              <div class="text-decoration-line-through">
                Antigénique
              </div>
            </v-alert>
            <v-spacer></v-spacer>
          </v-row> 
          <div id="exp">
          <v-expansion-panels flat>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Plus d'informations
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              Y'a rien
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
        </v-card-subtitle>
       
        <!-- Fin Horaire -->

        <!-- Button Formulaire Avis + Commentaire  -->
        <v-card-actions>
          <v-btn color="orange lighten-2" text @click="show = !show">
            Partager mon expérience
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn color="green lighten-2" text @click="ouvreCom">
            Commentaires
          </v-btn>
        </v-card-actions>
        <!-- Fin Button Formulaire Avis + Commentaire  -->

        <!-- Extension Avis -->
        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>

            <v-card-text>
              <v-stepper v-model="e1">
                <v-stepper-header>
                  <v-stepper-step :complete="e1 > 1" step="1">
                    Satisfaction
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="e1 > 2" step="2">
                    Temps d'attente
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="e1 > 3" step="3">
                    Evaluation
                  </v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
                  <v-stepper-content step="1">
                    <v-card>
                      <v-row>
                        <v-card-title>Est-ce que le test s'est bien déroulé ?</v-card-title>
                      </v-row>

                      <v-card-subtitle>
                        <v-card-actions>
                          <v-row>
                            <v-spacer></v-spacer>

                            <v-btn class="mx-2" fab dark small color="green" @click="e1 = 2">
                              Oui
                            </v-btn>

                            <v-spacer></v-spacer>

                            <v-btn class="mx-2" fab dark small color="red" @click="e1 = 2">
                              Non
                            </v-btn>
                            <v-spacer></v-spacer>
                          </v-row>
                        </v-card-actions>
                      </v-card-subtitle>
                      <v-btn @click="e1 = 2">
                        Ne pas répondre
                      </v-btn>
                    </v-card>
                  </v-stepper-content>

                  <v-stepper-content step="2">
                    <v-card>
                      <v-card-title>
                        Combien de minutes avez vous attendu ?
                      </v-card-title>
                      <v-card-subtitle>
                        <v-col cols="12">
                          <v-slider thumb-label ticks></v-slider>
                        </v-col>
                      </v-card-subtitle>
                      <v-btn color="blue" @click="e1 = 3">
                        Continuer
                      </v-btn>

                      <v-btn @click="e1 = 3">
                        Ne pas répondre
                      </v-btn>
                    </v-card>
                  </v-stepper-content>

                  <v-stepper-content step="3">
                    <v-card>
                      <v-row>
                        <v-card-title>
                          Evaluez votre expérience
                        </v-card-title>
                        <v-rating v-model="rating" color="yellow darken-3" background-color="grey darken-1"
                          empty-icon="$ratingFull" hover large>
                        </v-rating>
                      </v-row>
                      <v-card-subtitle>
                        <v-textarea label="Commentaire" auto-grow outlined rows="3" row-height="15" shaped>
                        </v-textarea>
                      </v-card-subtitle>

                      <v-btn color="blue" @click="e1 = 4">
                        Continuer
                      </v-btn>
                      <v-btn @click="e1 = 4">
                        Ne pas répondre
                      </v-btn>
                    </v-card>
                  </v-stepper-content>
                  <v-stepper-content step="4">
                    <v-card>
                      <v-card-title>
                        Merci pour vos réponses

                        <v-icon x-large color="orange darken-2">
                          mdi-emoticon-excited
                        </v-icon>
                      </v-card-title>
                      <v-btn @click="show = !show">
                        Fermer
                      </v-btn>
                    </v-card>
                  </v-stepper-content>
                </v-stepper-items>
              </v-stepper>
            </v-card-text>
          </div>
        </v-expand-transition>
        <!-- Fin Extension Avis -->

        <!-- Extension Commentaire  -->
        <v-expand-transition>
          <v-card
            v-if="reveal"
            class="transition-fast-in-fast-out v-card--reveal"
            style="height: 80%;"
          >
          <div v-show="reveal">
            <v-divider></v-divider>
            <template>
              <v-responsive class="overflow-y-auto" max-height="300">
                <div class="pa-6 text-center">
                  <template>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        offset-sm="3"
                      >
                        <v-card flat> 
                          <v-list three-line>
                            <template v-for="(item, index) in items">
                              <v-subheader
                                v-if="item.header"
                                :key="item.header"
                              >
                               Commentaires :
                              </v-subheader>
                              <v-divider
                                v-else-if="item.divider"
                                :key="index"
                                :inset="item.inset"
                              ></v-divider>
                              <v-list-item
                                v-else
                              >
                                <v-list-item-content>
                                  <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                            </template>
                          </v-list>
                        </v-card>
                      </v-col>
                    </v-row>
                  </template>
                </div>

                
              </v-responsive>
            </template>
          </div>
            <v-card-actions class="pt-0">
              <v-btn
                text
                color="teal accent-4"
                @click="fermeCom"
              >
                Close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-expand-transition>
        <!-- Fin Extension Commentaire  -->
      </v-card>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        timeOuverture: '10:15',
        timeFermeture: '10:15',
        show: false,
        reveal: false,
        e1: 1,
        rating: 3,
        isActive: false,
        items: [
        { header: 'Commentaires :' },
        { subtitle: `I'll be in your neighborhood doing errands this weekend. Do you want to hang out?` },
        { divider: true, inset: true },
        { subtitle: `Wish I could come, but I'm out of town this weekend.` },
        { divider: true, inset: true },
        { subtitle: 'Do you have Paris recommendations? Have you ever been?' },
      ],
      }),
    methods :{
      ouvreCom () {
        var expansion=document.getElementById('exp');
        this.reveal=true;
        expansion.style.display="none";
      },
      fermeCom () {
        var expansion=document.getElementById('exp');
        this.reveal=false;
        expansion.style.display="block";
      }
    }
    })
  </script>
  <style>
    .v-card--reveal {
      bottom: 0;
      opacity: 1 !important;
      position: absolute;
      width: 100%;
    }
    </style>
</body>

</html>